__pycache__/
venv/
.venv/
.env
*.pyc
.coverage
.pytest_cache/
# build products...
*.py[co]
build
dist
AUTHORS.TXT
# Eclipse/PyDev stuff...
.project
.pydevproject
# PyCharm stuff...
.idea
#IntelliJ IDEA stuff..
*.iml
#VSCode stuff..
.vscode/
# Mac OS X stuff...
.DS_Store